[Desktop Entry]
Name=dwm + ssh-agent
Comment=dwm
Exec=ssh-agent dwm
TryExec=dwm
Type=Application
X-LightDM-DesktopName=dwm
DesktopNames=dwm
Keywords=tiling;wm;windowmanager;window;manager;
